.SearchField {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.SearchForm {
    width: 60%;
    box-shadow: 0 0px 3px #ccc;
    padding: 10px;
    margin: auto;
    box-sizing:  border-box;
}

.SearchFormHeader {
    width: 60%;
    border: 1px solid #eee;
    padding: 10px;
    margin: 10px auto;
    box-sizing:  border-box;
    background: #8ac5fd;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 0px;
}