.Main {
    width: 73%;
    display: block;
    box-shadow: 0 0 3px #ccc;
    padding: 10px;
    box-sizing:  border-box;
    float: left;
    margin: 0 auto auto 20px;
}

.Header {
    width: 73.2%;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #eee;
    padding: 10px;
    box-shadow: 0 0 3px #ccc;
    box-sizing:  border-box;
    background: #8ac5fd;
    color: #ffffff;
    float: left;
    margin: 40px auto auto 20px;
}