.ParentLogin {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.ChildLogin {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;   
}

.BlockLogin {
    width: 110%;
    padding: 10px;
    margin: auto;
    box-sizing:  border-box;
}

.TextLogin {
    text-align: center;
}